<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    <div class="links mt-4 d-flex justify-content-center">
      <ul class="list-unstyled mb-0 d-flex">
        <li class="ms-3">
          <a href="https://web.facebook.com/?locale=ar_AR&_rdc=1&_rdr"><i class="fab fa-facebook text-secondary"></i></a>
        </li>
        <li class="ms-3">
          <a href="https://www.instagram.com/"><i class="fab fa-instagram text-secondary"></i></a>
        </li>
        <li class="ms-3">
          <a href="https://x.com/?lang=ar"><i class="fab fa-twitter text-secondary"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
